{% load i18n %}

<form method="post"
      enctype="multipart/form-data"
      hx-post="{% url 'providers:hotel_create_wizard' wizard.steps.current %}"
      hx-target="#wizard-form-container"
      hx-swap="innerHTML">
  {% csrf_token %}
  {{ wizard.management_form }}
  <div class="form-group">{{ wizard.form.as_p }}</div>
  <div class="button-group">
    {% if wizard.steps.prev %}
      <button name="wizard_goto_step"
              type="submit"
              value="{{ wizard.steps.prev }}"
              class="btn btn-secondary">{% translate "Anterior" %}</button>
    {% endif %}
    <button type="submit"
            class="btn btn-primary">
      {% if wizard.steps.current == wizard.steps.last %}
        {% translate "Finish" %}
      {% else %}
        {% translate "Next" %}
      {% endif %}
    </button>
  </div>
</form>
