{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        {% if object %}
                            {% trans "Edit meal plan" %}
                        {% else %}
                            {% trans "New meal plan" %}
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'providers:meal_plan_list' hotel_id=hotel_id %}"
                               class="btn btn-outline-secondary">
                                <i class="fas fa-arrow-left"></i> {% trans "Volver" %}
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> {% trans "Guardar" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
