{% load static i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
{% endblock css %}
<aside class="sidebar">
  <div class="sidebar-header">
    <h2>StayTrade</h2>
  </div>
  <nav class="sidebar-menu">
    <ul>
      <li class="sidebar-menu-item">
        <a href="{% url 'home' %}" class="sidebar-menu-link">{% translate "Home" %}</a>
      </li>
      <li class="sidebar-menu-item">
        <a href="{% url 'home' %}" class="sidebar-menu-link">{% "Search" %}</a>
      </li>
      <li class="sidebar-menu-item">
        <a href="{% url 'home' %}" class="sidebar-menu-link">{% "My bookings" %}</a>
      </li>
      {% if request.user.is_provider %}
        <li class="sidebar-menu-item">
          <a href="{% url 'home' %}" class="sidebar-menu-link">{% "My allocations" %}</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</aside>
