{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content">
    <h1 class="mb-4">Hotel: {{ hotel_id }}</h1>
    <div class="provider-areas">
        <!-- Área de Tipos de Habitación -->
        <a href="{% url 'providers:my_hotel_rooms_list' hotel_id=pk %}" class="provider-area-card">
            <div class="provider-area-content">
                <span class="fa-stack fa-2x mb-3">
                    <i class="fas fa-square fa-stack-2x text-primary"></i>
                    <i class="fas fa-door-open fa-stack-1x text-white"></i>
                </span>
                <h2>{% translate "Room types" %}</h2>
                <p>{% translate "Define and manage your room types offer." %}</p>
            </div>
        </a>

        <!-- Área de Tipos de Pensión -->
        <a href="{% url 'providers:my_area' %}" class="provider-area-card">
            <div class="provider-area-content">
                <span class="fa-stack fa-2x mb-3">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-utensils fa-stack-1x text-white"></i>
                </span>
                <h2>{% translate "Meal types" %}</h2>
                <p>{% translate "Define your meal tipes" %}</p>
            </div>
        </a>
    </div>
</div>
{% endblock content %}
